<!-- all code is owned by Joshua Edwards @ quicksilver web ltd. please email Joshua@quicksilverweb.uk, re-use is prohibited -->
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="mid clearfix">
                <form method="POST" id="loginFRM" name="newsletterFRM" class="form-horizontal">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="btn-group form-field req">
                            <input type="text" placeholder="Enter name.." id="name" ng-model="newslettername" required no-special-chars/>
                        </div>
                        <div class="btn-group form-field req">
                            <input id="email" type="text" ng-model="newsletteremail" required no-special-chars placeholder="Enter email.." />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="btn-group form-field req">
                            <input id="phone" type="text" ng-model="newsletternumber" required no-special-chars placeholder="Enter number.." />
                        </div>
                        <div class="btn-group form-field req">
                            <input id="business" type="text" ng-model="newsletterbusiness" required no-special-chars placeholder="Enter business.." />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-field instruction  clearfix"> 
                        <h4 style="color:whitesmoke">Sign up to our news and events letter! </h4>
                        <button class="btn btn-default btn-effect" type="submit" data-ng-click="submitNewsletter()"> SIGN UP!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<main class="container" >
    <div id="aboutus" class="page-header">
        <h1 title="Add">About SOS Station </h1>
    </div>
    <div>
        <img src="server/images/recycle.png" class="news-grid-picture" style="float:left" alt=""/>
    </div>
    <p>

        The SOS Station is a one stop shop to access First Aid equipment in the response to an emergency on site. <b>Made out of recycled materials</b> not only is the SOS Station itself environmentally friendly and cost effective, it’s innovative multi section design allows it to be transported to any area with ease.
        <br><br>

        Each SOS Station houses safety equipment that can treat the majority of on site incidents. All ﬁrst aid equipment provided includes an anti-tamper seal to ensure your team know when to inspect that all safety equipment is replenished and up to date. In addition we also provide on going sales support (see page 7), helping you to maintain your on site health and safety regulations.
        <br><br>

        Although this is a fairly new product on the market we want to assure our customers that this robust design is for the long term which is why we offer a 3 year warranty to safe guard our clients.
        <br><br>
    </p>

    <div>
        <img src="server/images/coloursos.png" class="news-grid-picture" style="float:right;" alt=""/>
    </div>
    <p>
        <b>Our Standard SOS Package</b>
        <br>
        Our standard SOS Station comes fully assembled with the following products:
        <br>
        -	x4 Fire extinguishers including water, foam, CO2 & powder
        <br>-	A double eye wash kit
        <br>-	A 20 person HSE standard ﬁrst aid kit
        <br>-	A burns ﬁrst aid kit
        <br>-	x2 waterproof notice boards for on site health and safety documentation
        <br>-	A gas horn
        <br>-	x200 Howard Leight ear plugs
        <br>-	An ear plug dispenser
        <br><br>

        Along with this the SOS Station can be provided in an <b>array of bright colours</b> to suit different industries health and safety regulations.
        <br><br>

        <b>Create Your Own SOS Station</b>
        <br>
        We want to ensure that your SOS Station is best suited for you and your on site regulations, that’s why we offer a range of extra safety products so you have the option to add and supplement our standard SOS package.
        <br><br>
    </p>
</main>

<div class="newsletter" style="background-image: url('server/images/shutterstock.jpg') !important">
    <div class="container">
        <div class="row">
            <div class="mid clearfix">
                <div class="col-sm-12 col-md-4 form-field instruction  clearfix"> 
                    <button class="btn btn-default btn-effect" data-ng-click="quoteLink()" style="margin-top: 10px;"> QUOTE ME!</button>
                </div>
                <div class="col-sm-12 col-md-8 ">
                    <h1 style="color: whitesmoke; text-align: right"> Get a free quote and evaluation now! </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="container" >
    <div id="aboutus" class="page-header">
        <h1 title="Add">About ECGroundworks ltd</h1>
    </div>
    <div>
        <img src="server/images/ecg_logo.png" class="news-grid-picture" style="float:left" alt=""/>
    </div>
    <p>
        <br><br><br>
        EC Groundworks ltd aim is to provide the best value services to our clients in a way that is sustainable, environmentally responsible & which reflects our wider social impact.We strive to form and maintain a lasting relationships with our clients and fully understand their objectives. 
        <br><br>
        <b>We ensure an on-site presence backed by our site management team which leads us to successful projects and repeat business.</b>
        <br><br><br>
    </p>
</main>

<div class="newsletter" style="background-color: grey !important">
    <div class="container">
        <div class="row">
            <div class="mid clearfix">
                <div class="col-sm-12 col-md-8 ">
                    <h1 style="color: whitesmoke; "> SOS Station is created by ECGroundworks ltd! </h1>
                </div>
                <div class="col-sm-12 col-md-4 form-field instruction  clearfix"> 
                    <a target="_blank" href="http://ecg-ltd.co.uk">
                        <button class="btn btn-default btn-effect" style="margin-top: 10px;"> VISIT US!</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>